/* Global styles to reset margin and padding */
body, html {
    margin: 0;
    padding: 0;
  }
  
  .about-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #7d1f1f; /* Set height to 100% of viewport height */
  }
  
  .about-content {
    flex: 1; /* Allow content to take remaining space */
    padding: 1rem; /* Add padding as needed */
     /* Add background color to distinguish content */
  }
  
  /* Style for NavBar can be defined in NavBar.css */
  